*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  font-size: 14px;
  font-family: Calibri, Arial, sans-serif;
  margin: 0;
  padding-top: 40px;
}
li{
  font-weight: 500;
}
table{
  width: 100%;
  border: 1px solid #00ff00;
}
td{
  border: 1px dotted #ffd700;
  border-radius: 20px;
}
table img{
  width: 50%;
}
table, tr, td{
  text-align: center;
}
td{
  padding: 10px;
  text-align: center;
}
h1 {
    font-size: 5vw;
    letter-spacing: 0.5cm;
    text-align: center;
    line-height: 2cm;
    text-shadow: -2px 2px 2px #000;
}
h2 { 
  font-size: 2em; 
}
nav {
  position: fixed;
  float: right;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: inherit;
  z-index: 1000;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 5px;
}
.desno {
  float: right;
  font-size: 10pt;
  margin-top: 12pt;
}
p {
  text-align: justify;
  text-indent: 0.4cm;
}
.social {
    width: 30px;
    height: 30px;
}
.social:hover {
    border-radius: 34px;
}
figure {
    width: 40%;
    float: left;
    margin: 10px;
}
figure img {
    width: 100%;
}
.centriranje {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}