*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  font-size: 14px;
  font-family: Calibri, Arial, sans-serif;
  margin: 0;
  padding-top: 40px; /* Space for fixed nav */
}
table, tr, td{
  border: 1px solid black;
  border-collapse: collapse;
}
td{
  padding: 10px;
  text-align: center;
}
h1 {
  font-size: 5vw;
  letter-spacing: 30px;
  text-align: center;
  line-height: 100px;
  text-shadow: -2px 2px 2px #000;
}
h2 { 
  font-size: 2em; 
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: inherit;
  z-index: 1000;
}
.desno {
  float: right;
  font-size: 10pt;
  margin-top: 12pt;
}
p {
  text-align: justify;
  text-indent: 0.4cm;
}